PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/healthnest?retryWrites=true&w=majority
JWT_SECRET=healthnest_jwt_super_secret_key_2024
JWT_EXPIRE=7d
ADMIN_EMAIL=admin@healthnest.com
ADMIN_PASSWORD=Admin@123
NODE_ENV=development
CLIENT_URL=http://localhost:3000
